.site-header {
  margin-bottom: 64px;
}
.site-header__inner {
  display: flex;
  align-items: center;
  padding: 24px 0;
  border-bottom: 1px solid $main-border-1;
}
.site-header__inner-logo-link {
  text-decoration: none;
  display: inline-block;
}
.site-header__inner-logo-link .site-header__inner-logo-img:nth-child(2) {
  display: none;
}
.site-header__inner-list {
  display: flex;
  align-items: center;
  gap: 60px;
  flex-direction: row;
  list-style-type: none;
  margin-left: auto;
}
.site-header__inner-item-link {
  color: $main-color;
  font-size: 12px;
  font-style: normal;
  font-weight: 800;
  line-height: 200%;
  letter-spacing: 2.04px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
}
.site-header__inner-item:nth-child(1) {
  display: none;
  border-radius: 4px;
  border: 2px solid $main-color;
  padding: 12px 32px;
}
.site-header__inner-item:nth-child(2) {
  display: none;
}
.site-header__inner-item:nth-child(3) {
  display: none;
}
.site-header__inner-item:nth-child(1) .site-header__inner-item-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.site-header__inner-item:nth-child(6) {
  border-radius: 4px;
  border: 2px solid $main-border;
  padding: 12px 32px;
}
.site-header__inner-burder-btn {
  border: none;
  background-color: transparent;
}
.site-header__inner-burder-btn-img {
  width: 24px;
  height: 12px;
}
@media only screen and (max-width: 1024px) {
  .site-header__inner-item:nth-child(1) {
    display: block;
  }
  .site-header__inner-item:nth-child(2) {
    display: block;
  }
  .site-header__inner-item:nth-child(3) {
    display: block;
  }
  .site-header__inner-item:nth-child(4) {
    display: none;
  }
  .site-header__inner-item:nth-child(5) {
    display: none;
  }
  .site-header__inner-item:nth-child(6) {
    display: none;
  }
  .site-header__inner {
    border-bottom: none;
  }
  .site-header__inner-item-link .site-header__inner-item-link-img:nth-child(1) {
    margin-left: 8px;
  }
  .site-header__inner-list {
    gap: 48px;
  }
}
@media only screen and (max-width: 660px) {
  .site-header__inner-list {
    gap: 40px;
  }
  .site-header__inner-item:nth-child(1) {
    padding: 10px 25px;
  }
}
@media only screen and (max-width: 610px) {
  .site-header__inner-list {
    gap: 15px;
  }
  .site-header__inner-item:nth-child(1) {
    padding: 6px 15px;
  }
}
@media only screen and (max-width: 540px) {
  .site-header__inner {
    padding: 24px 0;
  }
  .site-header__inner-list {
    gap: 32px;
  }
  .site-header__inner-logo-link .site-header__inner-logo-img:nth-child(1) {
    display: none;
  }
  .site-header__inner-logo-link .site-header__inner-logo-img:nth-child(2) {
    display: block;
  }
  .site-header__inner-item:nth-child(1) {
    display: none;
  }
}