.hero {
  overflow-x: hidden;
}
.form-label {
  display: flex;
  align-items: center;
}
.form-span-input-control {
  position: relative;
  display: inline-block;
  padding: 8px;
  border: 2px solid #202025;
  border-radius: 50%;
  margin-right: 8px;
}
.form-span-input-control::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  display: none;
  background-image: url("../../images/check-galochka.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px;
}
.form-input:checked + .form-span-input-control::before {
  display: block;
  background-color: $main-color;
  border-radius: 50%;
}
.hero__inner-left-item:nth-child(1) {
  border-radius: 4px;
  border: 2px solid #1966f7;
}
.hero__inner-left-item:nth-child(2) {
  border-radius: 4px;
  border: 2px solid #e1e2e2;
}
.hero__inner-left-item:nth-child(3) {
  border-radius: 4px;
  border: 2px solid #e1e2e2;
}
.hero__inner-left-item:nth-child(4) {
  border-radius: 4px;
  border: 2px solid #1966f7;
}
.form-span {
  color: $main-color;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.16px;
}
.form-span:checked + .form-span-input-control::before {
  display: block;
  background-color: $main-color;
  border-radius: 50%;
}
.hero__inner {
  display: flex;
  flex-direction: row;
  padding-left: 24px;
  gap: 40px;
}
.hero__inner-left-heading {
  color: $main-color;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 134%;
  letter-spacing: -0.48px;
  margin-bottom: 32px;
}
.hero__inner-left-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.form-span {
  display: inline-block;
}
.hero__inner-left-item {
  padding: 18px 24px;
}
.hero__inner-right-heading {
  color: $main-color;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 134%;
  letter-spacing: -0.48px;
  margin-bottom: 32px;
}
.hero__inner-right-list {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  gap: 16px;
}
.form-right-span {
  color: $main-color;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 200%;
  letter-spacing: -0.18px;
}
.hero__inner-right-item {
  padding: 12px 86px;
}
.hero__inner-right-item:nth-child(1) {
  border-radius: 4px;
  border: 2px solid var(--Neutral-03, #e1e2e2);
}
.hero__inner-right-item:nth-child(2) {
  border-radius: 4px;
  border: 2px solid var(--Neutral-03, #e1e2e2);
}
.hero__inner-right-item:nth-child(3) {
  border-radius: 4px;
  background: var(--Neutral-07, #202025);
}
.hero__inner-right-item:nth-child(3) .form-right-span {
  display: inline-block;
  color: #f7fbfa;
  text-transform: uppercase;
  padding: 8px 36px;
  font-size: 12px;
  font-style: normal;
  line-height: 200%;
  letter-spacing: 2.04px;
  font-weight: 800;
}
.hero__inner-right-item:nth-child(2) .form-right-span {
  display: inline-block;
  color: #a6aead;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 200%;
  letter-spacing: -0.18px;
}
@media only screen and (max-width: 1326px) {
  .hero__inner {
    flex-direction: column;
    gap: 24px;
    width: 100%;
  }
  .hero__inner-left-item {
    padding: 18px 86px;
  }
  .hero__inner-right-item {
    padding: 12px 138px;
  }
  .hero__inner-left-heading {
    margin-bottom: 16px;
  }
  .hero__inner-right-heading {
    margin-bottom: 16px;
  }
}
@media only screen and (max-width: 1126px) {
  .hero__inner-left-item {
    padding: 18px 80px;
  }
  .hero__inner-right-item {
    padding: 12px 130px;
  }
}
@media only screen and (max-width: 1078px) {
  .hero__inner-left-item {
    padding: 18px 65px;
  }
  .hero__inner-right-item {
    padding: 12px 110px;
  }
}
@media only screen and (max-width: 958px) {
  .hero__inner-left-item {
    padding: 18px 35px;
  }
  .hero__inner-right-item {
    padding: 12px 70px;
  }
}
@media only screen and (max-width: 718px) {
  .hero__inner-left-item {
    padding: 18px 25px;
  }
  .hero__inner-right-item {
    padding: 12px 57px;
  }
}
@media only screen and (max-width: 638px) {
  .hero__inner-left-item {
    padding: 18px 20px;
  }
  .hero__inner-right-item {
    padding: 12px 50px;
  }
}
@media only screen and (max-width: 598px) {
  .hero__inner-left-item {
    padding: 18px 10px;
  }
  .hero__inner-right-item {
    padding: 12px 37px;
  }
}
@media only screen and (max-width: 518px) {
  .hero__inner-left-item {
    padding: 10px 8px;
  }
  .hero__inner-right-item {
    padding: 8px 34px;
  }
}
@media only screen and (max-width: 502px) {
  .hero__inner-left-item {
    padding: 8px 4px;
  }
  .hero__inner-right-item {
    padding: 8px 28px;
  }
}
@media only screen and (max-width: 470px) {
  .hero__inner-left-item:nth-child(1) {
    padding: 18px 52px;
  }
  .hero__inner-left-item:nth-child(2) {
    padding: 18px 42px;
  }
  .hero__inner-left-item:nth-child(3) {
    padding: 18px 42px;
  }
  .hero__inner-left-item:nth-child(4) {
    padding: 18px 41px;
  }
  .hero__inner-right-item:nth-child(1) {
    padding: 12px 35px;
  }
  .hero__inner-right-item:nth-child(2) {
    padding: 12px 31px;
  }
  .hero__inner-right-item:nth-child(3) {
    padding: 12px 19px;
  }
  .hero__inner-left-list {
    flex-wrap: wrap;
  }
  .hero__inner-right-list {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 469px) {
  .hero__inner-left-item:nth-child(1) {
    padding: 18px 42px;
  }
  .hero__inner-left-item:nth-child(2) {
    padding: 18px 32px;
  }
  .hero__inner-left-item:nth-child(3) {
    padding: 18px 32px;
  }
  .hero__inner-left-item:nth-child(4) {
    padding: 18px 31px;
  }
  .hero__inner-right-item:nth-child(1) {
    padding: 12px 25px;
  }
  .hero__inner-right-item:nth-child(2) {
    padding: 12px 21px;
  }
  .hero__inner-right-item:nth-child(3) {
    padding: 12px 10px;
  }
}
@media only screen and (max-width: 412px) {
  .hero__inner-left-item:nth-child(1) {
    padding: 18px 32px;
  }
  .hero__inner-left-item:nth-child(2) {
    padding: 18px 22px;
  }
  .hero__inner-left-item:nth-child(3) {
    padding: 18px 22px;
  }
  .hero__inner-left-item:nth-child(4) {
    padding: 18px 21px;
  }
  .hero__inner-right-item:nth-child(1) {
    padding: 12px 15px;
  }
  .hero__inner-right-item:nth-child(2) {
    padding: 12px 10px;
  }
  .hero__inner-right-item:nth-child(3) {
    padding: 12px 5px;
  }
}
@media only screen and (max-width: 360px) {
  .hero__inner-left-item:nth-child(1) {
    padding: 18px 32px;
  }
  .hero__inner-left-item:nth-child(2) {
    padding: 18px 22px;
  }
  .hero__inner-left-item:nth-child(3) {
    padding: 18px 22px;
  }
  .hero__inner-left-item:nth-child(4) {
    padding: 18px 21px;
  }
  .hero__inner-left-list {
    text-align: center;
    flex-direction: column;
  }
  .hero__inner-right-list {
    flex-direction: column;
  }
  .hero__inner-left-heading {
    text-align: center;
  }
  .hero__inner-right-heading {
    text-align: center;
  }
  .hero__inner-right-item:nth-child(1) {
    padding: 12px 45px;
  }
  .hero__inner-right-item:nth-child(2) {
    padding: 12px 40px;
  }
  .hero__inner-right-item:nth-child(3) {
    padding: 12px 5px;
  }
}
